/*
Theme Name: Charity Project
Theme URI: https://foreframe.com/themes/charity-project/
Author: Foreframe Studio
Author URI: https://foreframe.com/
Description: Charity Project is a WordPress theme for charity projects and organizations equiped with donations functionality and provides a flexible style to meet various looks.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
Text Domain: charityproject

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/

/**
 * Color Guide *
 
 teal -- #00b8b8
 dark teal -- #027d7d
 hot pink -- #de3d83
 yellow -- #e4bd0b
 purple -- #9d4eb6
 green -- #5da87b
 grey -- #a5a5a5
*/

/**
 * Normalize
 */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
select,
textarea {
    max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}

fieldset >:last-child {
    margin-bottom: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}


/**
 * Typography
 */

body,
button,
input,
select,
textarea {
    color: #0b0b0b;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5
{
    text-transform: uppercase;
    color: #00b8b8;
}

h4,
h5
{
    color: #a5a5a5;
}

h1 {
    font-weight: 600;
    font-size: 2.75em;
    line-height: 1.0909090909090908em;
    margin-top: 0.8181818181818181em;
    margin-bottom: 0.27272727272727em;
}

h2 {
    font-weight: 600;
    font-size: 1.9375em;
    line-height: 1.5483870967741935em;
    margin-top: 0.7741935483870968em;
    margin-bottom: 0.7741935483870968em;
}

h3 {
    font-weight: 600;
    font-size: 1.375em;
    line-height: 1.0909090909090908em;
    margin-top: 1.0909090909090908em;
    margin-bottom: 0em;
}

h4 {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h5 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h6 {
    color: #a5a5a5; 
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border: 1px solid;
    margin: -1px 0;
}

b,
strong,
em,
small,
code {
    line-height: 1;
}

/**
 * Global Styles
*/

.main-content-width-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

p {
    max-width: 650px;
}

a {
    color: #de3d83;    
}

a:visited {
    color: #9d4eb6;
}

a:hover {
    color: #e4bd0b;
}

a:active {
    color: #00b8b8 ;
}

.button {
    text-transform: uppercase;
    border: none;
    background: #e4bd0b;  
    padding: .5em 3em;
    transition: .5s all;
}

.button:hover {
    background: #de3d83; 
}

.button a {
    color: #fff;
    text-decoration: none;
}


/**
 * Header Styles
*/

.header {
    background-color: #fff;
    padding: 2em;
}

.logo {
    width: 200px;
    margin-left: 2em;
}

.main-navigation {
  float: right; 
  margin-top: 1em;
}

.main-navigation li {
    list-style-type: none;
    float: left;
    margin-right: 1.5em;
}

.main-navigation a {
    color: #a5a5a5;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: block;
    padding: 0 1em;
    transition: .5s all;
}

.main-navigation a:hover {
    color: #00b8b8;
}

/**
* Logo & Menu
*/
.main-navigation-container {
    text-align: center;
}

/**
 * Footer Styles
*/

.footer {
    padding: 1em 0 3em 0;
    background: #e0e5db;
    clear: both;
}

.footer-navigation {
    max-width: 58.2% ;
    margin: 0 auto;
}

.footer-navigation li {
    list-style-type: none;
    float: left;
    margin-right: 1.5em;
}

.footer-navigation a {
    color: #00b8b8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: block;
    padding: 0 1em;
    transition: .5s all;
}

.footer-navigation a:hover {
    color: #01d8d8;
}

.copyright {
    max-width: 960px;
    margin: 4em auto;
    clear: left;
    text-align: center;
}

/** 
*  Sidebar 
*/

.sidebar {
    background: #5da87b;
    float: right;
    width: 30%;
    padding: 1em;
    color: #fff;
}

.sidebar .sidebar-heading, .sidebar .sidebar-heading {
    color: #fff;
}

/** 
*  Two Column Template Right Sidebar 
*/

.two-column-template-wrapper {
    float: left;
    width: 55%;
    margin-right: 1em;
}

/**
* Front-Page/Home Template
*/

.home h1, .home h2, .home h3 {
 color: #fff;   
}

.home-hero-section {
    background: url(images/home-hero-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
}

.hero-content {
    background: rgba(47, 47, 47, 0.47);
    background: rgba(228, 189, 11, 0.25);
    float: right;
    width: 35%;
    padding: 0 3em;
    margin-top: 4em;
}

.hero-content h1 {
    color: #fff;
    text-align: right;
}

.hero-content p {
    color: #fff;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1.0909090909090908em;
    text-align: right;
}

.button-home {
    display: block;
    width: 300px;
    padding: 1em 0;
    margin-bottom: 1em;
    float: right;
}

.button-purple {
    background: #9d4eb6;
}

.button-purple:hover {
    background: #c100ff;
}

.button-pink {
    background: #de3d83;
}

.button-pink:hover {
    background: #ff006f;
}

.home-philosophy-section,
.home-location-section {
    font-size: 1.2em;
    line-height: 1.8;
    color: #fff;
    width: 44%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
    height: 400px;
    text-align: center;
}

.home-philosophy-section {
 
    background: url(images/home-philosophy-section-bg.jpg) no-repeat;
    background-size: cover;
    margin-right: 1em;
    float: left;
}

.home-location-section {
    background: url(images/home-location-section-bg.jpg) no-repeat;
    background-size: cover;
    float: right;
}

.home-location-section p, .home-philosophy-section p {
    max-width: none;
}

.home-featured-instructors-section {
    background: url(images/home-featured-instructors-section-bg.jpg) no-repeat;
    background-size: cover;
    clear: both;
    overflow: auto;
    padding: 0 1em;
}

.featured-instructors-width-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.home-featured-instructors-section h2 {
    text-align: center;
    padding-top: 1.5em;
}

.featured-instructor {
    color: #fff;
    text-align: center;
    line-height: 1.9em;
    width: 27%;
    float: left;
    margin: 0 1em 1em 1em;
    padding: 1em;
    max-width: 350px;
    box-shadow: none;
    transition: .5s all;
}

.featured-instructor:hover {
    box-shadow: 0 0 20px 2px #0d0d0d;
}

.featured-instructor h3 {
    margin-bottom: .5em;
}

.featured-instructor img {
    width: 275px;
}

.featured-instructor-pink {
    background: #de3d83;
}

.featured-instructor-pink h3 {
    color: #00b8b8;
}

.featured-instructor-teal {
    background: #00b8b8;
}

.featured-instructor-teal h3 {
    color:  #de3d83;
}

.featured-instructor-purple {
    background: #9d4eb6;
}

.featured-instructor-purple h3 {
    color: #5da87b;
}

.featured-instructor .button:hover {
    background:  #5da87b;
}


/**
*  Classes Template
*/

.classes {
    /*background-color: #00b8b8;*/
}

.classes-wrapper {
    background-image: url(images/classes-template-bg.png);
    background-repeat: no-repeat;
    /*background-color: #00b8b8;*/
    background-size: cover;
    padding: 2em;
    min-height: 600px;
}

/*.classes h1, */ .class-container h2 {
    color: #fff;
}

.classes-entry p {
    color: #fff;
    color: #151515;
    font-weight: 300;
}

.class-container {
    background: #fff;
    width: 40%;
    min-width: 387px;
    max-width: 500px;
    margin: 2em 2em 2em 0;
    border: 1px solid #dbdbdb; 
    float: left;
    box-shadow: none;
    transition: .25s all;
}

.class-container:hover {
    box-shadow: 0 0 15px 1px #c1c1c1;
}

.class-container-content {
    padding: 0 2em 2em 2em;
}

.class-container h2 {
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.0909090909090908em;
    text-transform: capitalize;
    padding: .5em;
    margin-top: 0;
}

.class-skill-section, .class-length-section, .class-instructor-section {
    width: 40%;
    text-align: center;
    float: left;
}

.instructor-name, 
.skill-level, 
.length {  
    color: #a5a5a5;
}

.instructor-headshot {
    display: block;
    margin: .5em auto; 
}

.class-skill-level
.skill-level {
    margin: .5em 0;
}

.class-skill-section, .class-length-section {
    margin-left: 4em;
}

.class-description {
    clear: both;
}

.enroll-button {
    display: block;
    margin: 0 auto;
}

.class-container .enroll-button:hover {
    background-color: #00b8b8;
}

.class-container-pink h2, .class-container-pink .enroll-button {
    background-color: #de3d83;
}

.class-container-pink h3 {
    color: #de3d83;  
}

.class-container-purple h2,
.class-container-purple .enroll-button {
    background-color: #9d4eb6;
}

.class-container-purple h3 {
    color: #9d4eb6;
}

.class-container-teal h2,
.class-container-teal .enroll-button {
    background-color: #027d7d ;
}

.class-container-teal h3 {
    color: #027d7d;
}

.class-container-green h2, 
.class-container-green .enroll-button {
    background-color: #5da87b; 
}

.class-container-green h3 {
    color: #5da87b;  
}




